---

---

<div class="flex flex-col md:flex-row justify-center items-center gap-6">
    <div class="pr-4 ">
        <p class="[&>span]:text-blue-500 [&>span]:font-light [&>span]:font-mono">
        Soy <span>Blas Vernazza</span>, Full Stack Developer con <span>2 años de experiencia</span> en desarrollo web. Me especializo en <span>JavaScript, React y Node.js</span>, creando aplicaciones eficientes, escalables y centradas en el usuario.

        Trabajo con foco en <span>buenas prácticas, código limpio y colaboración en equipo</span>. Me motiva seguir creciendo en proyectos que mezclen <span>tecnología, innovación y aprendizaje continuo.</span>
                
        </p>
    </div>
    <img src="/images/BlasPhoto.jpg" alt="" class="mt-8 order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/30 dark:bg-yellow-500/5 ring-1 ring-black/80 dark:ring-white/20 " style="object-position: 50% 50%">  
</div>