<a 
    {...Astro.props}
    target="_blank"
    class="inline-flex text-gray-800 dark:text-white dark:hover:bg-white dark:hover:text-black max-w-fit focus:outline-none  focus-visible:ring focus-visible:ring-offset-2 cursor-pointer transition duration-300 hover:bg-gray-900 hover:text-white rounded-full p-1"
>
    <slot />
</a>