<a 
    {...Astro.props}
    target="_blank"
    class="inline-flex text-gray-800 dark:text-white max-w-fit focus:outline-none  focus-visible:ring focus-visible:ring-offset-2 cursor-pointer transition duration-300 hover:scale-120 rounded-full p-1"
>
    <slot />
</a>