<section class="flex flex-row items-center gap-7">
    <p>Developed by Blas vernazza</p>
    <div class="flex gap-5">
        <img src="/icons/icons-linkedin.svg" alt="">
        <img src="/icons/icons-cinco.svg" alt="">
        <img src="/icons/icons-github.svg" alt="">
    </div>
</section>

